/**
 * Views css
 */
@media screen and (max-width: 1440px){
    .people-box {
        max-width: 50% !important;
    }

    .payment-requests-body {
        padding: 28px !important;
    }
}

@media screen and (max-width: 1200px) {
    .flex-grid3.articles {
        grid-template-columns: 1fr 1fr !important;
    }

    .online-therapy {
        padding: 0 20px !important;
    }

    .blog-bg {
        max-width: 90% !important;
    }

    .btn-article {
        padding: 7px;
        border-radius: 4px;
        width: auto !important;
        min-width: 80px !important;
        text-align: center;
        background-color: var(--col-heavyDark);
        max-width: 170px;
    }

    .btn-article.back {
        margin-right: 20px !important;
        margin-left: 20px !important;
    }
}

@media screen and (max-width: 992px){
    /*Messaging*/
    .justify-left.message-select {
        display: inline !important;
    }

    .sel-message {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .category-sel.sel-message {
        margin-left: 0 !important;
    }




    .people-box {
        max-width: 70% !important;
    }

    .menu-payment {
        width: 100% !important;
    }

    .payment-requests-body {
        padding: 28px 10px !important;
    }

    .report1.flex-space {
        margin-bottom: 15px !important;
        display: inline !important;
        justify-content: unset !important;
    }

    .right-position.report {
        padding-top: 20px;
        justify-content: left !important;
        text-align: left !important;
    }

    .people-box {
        max-width: 70% !important;
    }

    .category-sel {
        margin-bottom: 0 !important;
    }

    select.category-sel.publish {
        width: 140px !important;
    }

    select.categories {
        width: 140px !important;
    }



    .btn-article {
        min-width: 100px !important;
        max-width: 120px !important;
    }

    .online-therapy {
        padding: 0 !important;
    }

    .blog-bg {
        max-width: 100% !important;
    }

    .edit-bg {
        padding: 20px !important;
    }

    .articles-title {
        padding: 30px 0 !important;
    }

    .category-sel {
        margin-left: 10px !important;
    }

    .btn-category {
        margin-left: 10px !important;
    }

    .add-category {
        margin-left: 5px !important;
    }
    .add-icon {
        margin-right: 5px !important;
        margin-left: 5px !important;
    }
}

@media screen and (max-width: 768px) {
    /*Messaging*/
    .message-card {
        padding: 19px 20px !important;
    }
    .message-pl {
        padding-left: 10px !important;
    }

    .category-sel.sel-message {
        margin-bottom: 20px !important;
    }


    .flex-space.details {
        display: unset !important;
    }

    .readers-likes {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    select.category-sel.publish {
        width: 100% !important;
        max-width: 200px !important;
    }

    select.categories {
        margin-top: 20px;
        width: 100% !important;
        max-width: 100% !important;
    }

    .btn-category {
        margin-left: 0 !important;
        margin-top: 20px;
    }

    .category-sel {
        margin-left: 0 !important;
    }

    .btn-article.back {
        margin-left: 0 !important;
    }

    .flex-grid3.articles {
        grid-template-columns: 1fr !important;
    }

    .message-card {
        padding: 19px 20px !important;
    }

    .message-pl {
        padding-left: 10px !important;
    }

    .people-box {
        max-width: 100% !important;
    }

    .history-warning-message {
        padding: 13px 10px !important;
    }

    .payment-requests-body {
        padding: 28px 0 !important;
    }

    select.category-sel {
        width: 150px !important;
    }

    .flex-space.publish {
        display: unset !important;
    }

    .btn-article {
        margin: 20px auto !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    .articles-title {
        padding: 32px 0 !important;
    }

    .flex-space.category {
        display: inline !important;
    }

    .article-input.category {
        width: 100% !important;
    }

    .product-btn {
        margin-right: 5px !important;
    }
}

@media screen and (max-width: 600px) {
    .product-btn {
        padding: 5px 10px !important;
    }

    .general-nataly {
        padding-left: 0 !important;
    }
}

@media screen and (max-width: 480px) {
    .modal-article.accept {
        max-width: 400px !important;
        min-width: 300px !important;
    }
    .flex-space.accept {
        display: block !important;
    }
    .continue-mt {
        margin-bottom: 20px !important;
    }
    .btn-common.client {
        text-align: center !important;
    }

    .justify-right.client {
        margin-bottom: 20px;
        justify-content: center !important;
    }
    .btn-deletes,
    .btn-payment,
    .btn-cancel {
        width: 80px !important;
    }

    .btn-deletes {
        margin-right: 10px !important;
    }

    .margin-r {
        margin-right: 0 !important;
        margin-bottom: 20px !important;
    }
    .message-card > div.flex-space {
        display: inline !important;
        justify-content: initial !important;
    }

    .flex-message {
        display: initial !important;
    }

    .message-card,
    .align-left.message-pl,
    .message {
        text-align: center !important;
        line-height: 2;
    }

    .message-txt {
        padding: 19px 15px !important;
    }

    .flex-space.people-profile {
        display: inline !important;
        text-align: center !important;
    }

    .new-people-pt {
        padding: 60px 20px 15px !important;
    }

    .icon-rl {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .profile-modal-main {
        min-width: 280px !important;
    }

    .flex-space.report {
        display: unset !important;
        text-align: center !important;
    }

    select.category-sel {
        margin-top: 10px;
    }

    .articles-title {
        padding: 10px !important;
        margin: 0 auto !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    .flex-space.articles {
        margin: 0 auto !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    .flex-space.articles.category {
        display: unset !important;
    }

    .flex-edit {
        display: inline-block !important;
        width: 100%;
    }

    .btn-details {
        margin: 10px 0 !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    .btn-category {
        margin-left: 0 !important;
        margin-top: 10px;
    }

    select .category {
        max-width: 100% !important;
    }
}

/**
 * Messages
 */
.message-card {
    padding: 19px 27px;
    margin: 0 auto 30px;
    width: 100%;
    max-width: 100%;
    min-width: 230px;
    background-color: var(--col-white);
}

.flex-message {
    display: flex;
}

.message-card:hover {
    box-shadow: -1px 1px 2px 2px rgba(0, 0, 0, 0.25);
}

.message-pl {
    padding-left: 30px;
    line-height: 2;
}

/**
 * View Messages
 */
input.view-message {
    margin-right: 22px;
    max-width: 100%;
    background-color: var(--col-white);
}

.message-txt {
    margin-bottom: 40px;
    padding: 19px 32px;
    border: none;
    border-radius: 4px;
    height: 100%;
    min-height: calc(100vh - 90px - 93px - 120px);
    background-color: var(--col-white);
}

.rectangle-trans {
    position: absolute;
    top: calc(50% - 4px);
    left: -4px;
    width: 12px;
    height: 12px;
    text-align: center;
    background-color: var(--col-lightColor);
    transform: rotate(-45deg);
}

.message-user {
    position: relative;
    margin-top: 15px;
    margin-left: 10px;
    padding: 5px 15px;
    border-radius: 4px;
    background-color: var(--col-lightColor);
    text-align: left;
    word-break: break-all;
}

.flex-user-message {
    display: flex;
}

.user-commit {
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

.icon-size {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


.message-drop {
    width: 15px;
    margin-right: 20px;
    cursor: pointer;
}

.msg-navbar {
    display: flex;
    border-radius: 4px;
    transition: none;
}

.msg-navbar:hover {
    color: #fff !important;
}

.msg-dropdown:hover .msg-dropdown-content {
    display: block;
}

.msg-dropdown {
    position: relative;
    height: 40px;
    color: #fff;
}

.msg-dropdown-content {
    display: none;
    position: absolute;
    padding: 0 16px;
    top: 40px;
    left: 0;
    border-radius: 3px;
    min-width: 80px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: all 0.5s ease-out;

    text-align: left;
    z-index: 1;
    background-color: var(--col-heavyDark);
}

.edit-delete:hover {
    color: var(--col-darkBlue);
}


.pl-10 {
    padding-left: 10px;
}
/**
 * People Page
 */
.flex-people-header {
    display: flex;
}
.owners-clients {
    margin-right: 30px;
    border-bottom: 3px solid var(--col-foreGround);
}

.owners-clients:hover {
    border-bottom: 3px solid var(--col-heavyDark);
}

.new-people-pt {
    padding: 60px 36px 15px;
}

.icon-rl {
    padding: 40px 40px 0;
}

.people-box {
    margin-top: 40px;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    max-width: 35%;
    background-color: var(--col-white);
}

.people-upBg {
    position: relative;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    height: 140px;
    background: linear-gradient(90deg, #00CED1 0%, #00DD92 100%);
}

.people-virtual {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.people {
    max-width: 100%;
    background-color: var(--col-white);
}

.profile > input {
    max-width: 100%;
}

.profile-modal-main {
    position:fixed;
    background: white;
    border-radius: 4px;
    width: 20%;
    min-width: 381px;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-modal-main.invite {
    width: 40%;
}
.profile-header {
    padding-left: 24px;
    height: 70px;
    background-color: var(--col-admin-header);
}

.send-invitation {
    padding: 25px 0;
}

.save-cancel {
    margin-bottom: 30px;
}

/**
 * Payment Request and History
 */

.payment-requests-body {
    padding: 28px 47px 35px;
    min-width: 270px;
}

.history-warning-message {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 13px 16px;
    border-radius: 4px;
    border: 1px solid #FFE58F;
    min-height: 40px;
    background-color: #FFFBE6;
}

.see-details {
    color: #388DED;
}

.menu-payment {
    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #d9d9d9;

    text-align: center;
    width: 20%;
    min-width: 260px;

    color: gray;
    background: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.menu-payment.client {
    min-width: 160px;
}
/**
 * Report
 */
.report-title {
    padding: 32px 23px;
}

.line-chart {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}

.chart-p {
    padding-bottom: 94px;
}

.report > input, .report > select, .report > textarea {
    padding: 10px 20px;
    display: block;
    width: 100%;
    min-height: 30px;
    font-size: 14px;
    outline: none;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    color: gray;
    background-color: var(--col-foreGround);
}

span.report {
    min-height: 30px;
    padding: 8px 15px;
    border: 1px solid gray;
}

.report > table, .report > td, .report > th, .report > tr {
    border: 1px solid #ddd;
    text-align: left;
}

#report tr:nth-child(even) {
    background-color: #f9f9f9;
}
#report tr:nth-child(odd) {
    background-color: #fff;
}
#report th {
    background-color: #ccc;
}
.report > table {
    border-collapse: collapse;
    width: 100%;
}

.report-list {
    max-height: 550px;
}
.report > th, .report > td {

}

.download-icon-size {
    width: 20px;
}

.filter-hover:hover {
    color: var(--col-browny);
}
.justify-table {

    justify-content: space-between;
}

.report > th, .report > td {
    padding: 6px;
}

.previous-next {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px 20px;
    border: 1px solid gray;
}

.right-position {
    display: flex;
    justify-content: flex-end;
}


.flex-grid8 {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-row-gap: 0;
}

.color-txt {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 370px;
    color: var(--col-white);
}

.color-input > input {
    padding-left: 10px;
    border-radius: 6px;
    width: 100%;
    max-width: 180px;
    height: 15px;
    font-size: 16px;
    color: var(--col-white);
}

.color-input > input::placeholder {
    color: var(--col-white);
}

.flex-grid8 > div {
    margin-bottom: 15px;
}

.end-rad {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/**
 * Articles
 */
.articles-title {
    padding: 32px 23px;
}

.category-sel {
    margin-left: 20px;
}

select.category-sel {
    border-radius: 4px;
    border-color: var(--col-heavyDark);
    width: 250px;
}

.btn-article {
    padding: 7px;
    border-radius: 4px;
    width: 100%;
    min-width: 140px;
    text-align: center;
    background-color: var(--col-heavyDark);
    max-width: 170px;
}

.btn-article:hover {
    opacity: 0.7;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}
.btn-article.back {
    margin-right: 40px;
}
    /**
     * Article List
     */
.blog-flex-gaps {
    grid-column-gap: 40px;
}

.flex-grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 25px;
}

.blog-grid-mt {
    margin-top: 40px;
}

.blog-img-size {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.blog-img-size:hover {
    transform: scale(1.05);
    box-shadow: 0 0 16px 2px #add;
    z-index: 1000;
    opacity: 0.6;
}

.blog-grid-p1 {
    padding-top: 23px;
}

.blog-grid-p2 {
    padding-top: 14px;
    padding-bottom: 18px;
    line-height: 1.4;
}

.align-l {
    text-align: left;
}

.col-blue {
    color: #1C85BC;
}

.col-txt-title {
    color: #1E2428;
}

.col-desc {
    color: #42474C;
}

.txt-26 {
    font-size: 26px;
}

.btn-continue {
    display: flex;
    margin-top: 19px;
    padding: 15px 40px;
    border: 1px solid #1C85BC;
    border-radius: 4px;
    max-width: 70%;
    color: #1C85BC;
    cursor: pointer;
}

.btn-continue:hover {
    background-color: #1C85BC;
    color: #ffffff;
}

.word-break {
    min-height: 80px;
    word-break: break-all;
}

/**
 * Article Detail
 */
.online-therapy {
    padding: 0 50px;
}

.txt-26 {
    font-size: 26px;
}

div.lineGreen-left {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70px;
    border-top: 2px solid #63d2af;
    background-color: #63d2af;
    text-align: left;
}

.general-nataly {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;

    justify-content: left;
    align-items: center;
}

.general-nataly.comment {
    padding-top: 0;
}

.by-comment {
    padding-left: 5px;
    padding-right: 5px;
}

.date-rl {
    padding: 0 5px;
}

.col-date {
    color: #4cb5ff;
}

.blog-bg {
    margin: 0 auto 40px;
    width: 100%;
    max-width: 100%;
    height: 421px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: unset;
}

.txt-lorem-pt {
    padding-top: 23px;
    line-height: 2;
}

.margin-r {
    margin-right: 30px;
}

.bg-bound3 {
    width: 100%;
    border: none;
    border-top: 6px solid #63d2af;
}

.blog-social-share {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
}

.blog-article-p1 {
    padding-top: 52px;
    padding-bottom: 17px;
}

.social-icon {
    padding-right: 20px;
}

.pair-arrow-r {
    padding-right: 10px;
}

.pair-arrow-l {
    padding-left: 10px;
}

.link-arrow {
    padding-top: 90px;
    padding-bottom: 52px;
}

.justify-rl {
    display: flex;
    justify-content: space-between;
}

.flex-edit {
    display: flex;
    justify-content: flex-end;
}

.btn-details {
    margin: 10px;
    padding: 7px;
    border-radius: 4px;

    width: 180px;
    text-align: center;
    background-color: var(--col-bttonAndLink);
}

.btn-details:hover {
    opacity: 0.7;
}

.btn-details.back {
    background-color: var(--col-heavyDark);
}

.word-short {
    width: 150px;
    white-space: nowrap;
}



.edit-bg {
    padding: 20px 50px;
    height: auto;
    background-color: #fff;
}

.rdw-dropdown-selectedtext {
    color: var(--col-bttonAndLink);
}

.public-DraftEditorPlaceholder-root {
    padding: 5px 20px;
    font-size: 14px;
}
.public-DraftStyleDefault-ltr {
    padding: 10px 20px;
    min-height: 40px;
    height: auto;
}

/**
 * Table
 */

#office {
    border: none !important;
}

table {
    width:100%;
    border: 1px solid #ddd;
}

tr.article-table > th,
tr.article-table > td {
    padding: 5px;
    text-align: left;
}

thead {
    border-bottom: 1px solid #ddd;
}

tfoot {
    border-top: 1px solid #ddd;
}

tr.article-table > th:nth-child(1),
tr.article-table > td:nth-child(1) {
    padding-left: 15px;
}

tr:hover {
    background-color: #0002 !important;
}

#t01 tr:nth-child(even),
#t02 tr:nth-child(even),
#t03 tr:nth-child(even),
#t04 tr:nth-child(even),
#t05 tr:nth-child(even) {
    background-color: #fff;
}
#t01 tr:nth-child(odd),
#t02 tr:nth-child(odd),
#t03 tr:nth-child(odd),
#t04 tr:nth-child(odd),
#t05 tr:nth-child(odd) {
    background-color: #f9f9f9;
}

thead > tr.article-table,
tfoot > tr.article-table {
    height: 50px;
}

tr.article-table {
    height: 70px;
}

.txt-break {
    word-break: break-all;
}

.txt-break.title {
    min-width: 100px;
}

.txt-word {
    word-break: break-word;
}

#t01 th,
#t02 th,
#t03 th,
#t04 th,
#t05 th {
    background-color: #fff;
    color: #000;
}

.align-c {
    text-align: center;
}
.view-delete {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

.view-delete:hover {
    color: red;
}

.article-input {
    margin-bottom: 20px;
    border-radius: 4px;
    max-width: 100%;
    background-color: #fff8;
}

.draft-box {
    padding: 5px;
    border: 1px solid #f1f1f1;
    min-height: 400px;
}

.draft-box.client {
    min-height: 300px;
}

.public-DraftStyleDefault-block {
    margin: 0 !important;
}

/**
 * Modal
 */
.modal-b {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-article {
    position:fixed;
    background: white;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    height: auto;
    min-height: 200px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s ease-out;
}

.modal-article.accept {
    max-width: 500px;
    min-height: 300px;
}
.modal-article.question {
    max-width: 550px;
}

.modal-edit-appt {
    position:fixed;
    background: white;
    border-radius: 4px;
    width: 90%;
    max-width: 500px;
    min-width: 300px;
    height: auto;
    min-height: 250px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s ease-out;
}

.display-modal-block {
    display: block;
}

.display-modal-none {
    display: none;
}

.input-p {
    padding: 20px 20px 0;
}

.input-p > input {
    margin-bottom: 15px;
    width: 100% !important;
    max-width: 100%;
}

.input-p > input::placeholder {
    color: #000;
}
.create-modal-header {
    padding-left: 24px;
    height: 70px;
    background-color: var(--col-admin-header);
}

.show-transition {
    transition: all 0.5s ease-out;
}
.modal-p {
    padding: 20px;
}

.modal-pt {
    padding-top: 20px;
}

.btn-deletes,
.btn-payment,
.btn-cancel {
    padding: 9px 20px;
    border-radius: 4px;
}

.btn-deletes {
    background-color: var(--col-paragraphBg);
}

.btn-payment {
    background-color: var(--col-admin-header);
}

.btn-cancel {
    margin-right: 15px;
    background-color: var(--col-lightColor);
}
.btn-payment:hover,
.btn-cancel:hover,
.btn-deletes:hover {
    opacity: 0.7;
}


.comment-box {
    padding: 20px;
    background-color: #fff;
}

.border-box {
    border-radius: 4px;
    padding: 10px;
    border: 1px solid var(--col-bttonAndLink);
    min-height: 150px;
    height: auto;
    background-color: #fff;
}

.small-btn {
    width: 100px;
}

.add-category {
    margin-left: 20px;
}

.add-icon {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 17px;
    min-width: 15px;
}

.btn-category {
    margin-left: 40px;
    border-radius: 3px;
    border: 1px solid ;
    height: 45px;
}

.btn-m {
    margin-left: 20px;
}

.edit-bg.category {
    margin-bottom: 30px;
}

.article-input.category {
    margin-bottom: 0;
    width: calc(100% - 200px);
}

.btn-article.category {
    background-color: var(--col-bttonAndLink);
}

.photo-article {
    margin-right: 20px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.photo-comment {
    margin-right: 20px;
    width: 50px;
    height: 50px;
}

select.categories {
    border-radius: 4px;
    border-color: var(--col-heavyDark);
    width: 250px;
    color: var(--col-heavyDark);
}


/**
 * Click button Array
 */
.product-btn {
    margin-right: 11px;
    padding: 15px 20px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
}

.product-btn:hover {
    color: #ffffff;
    background-color: #1C85BC;
}

.photo-list {
    border-radius: 50%;
    width: 35px;
}
.help-center-align {
    margin: 50px auto;
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    text-align: center;
}

.btn-search {
    background-color: #1C85BC;
}

.product-btn.table {
    padding: 5px 10px;
}

/**
 * Client-management
 */
.more-click {
    color: var(--col-bttonAndLink);
}

.more-click:hover {
    color: var(--col-heavyDark);
}

.mt-20 {
    margin-top: 20px;
}